<section class="double-luxury-room-section">
    <div class="container">
       
        <ul class="room-list list">
            <li class="room-picture">                
                <picture>
                    <source srcset="../img/Hotel/double-room-desktop/kitchen.jpg, ../img/Hotel/double-room-desktop/kitchen-@2x.jpg" media="(min-width: 1200px)">
                    <source srcset="../img/Hotel/double-room-tablet/kitchen.jpg, ../img/Hotel/double-room-tablet/kitchen-@2x.jpg" media="(min-width: 768px)">
                    <source srcset="../img/Hotel/double-room-mobile/kitchen.jpg, ../img/Hotel/double-room-mobile/kitchen-@2x.jpg" media="(max-width: 767px)">                            
                <img  src="../img/Hotel/double-room-desktop/kitchen.jpg, ../img/Hotel/double-room-desktop/kitchen-@2x.jpg" alt="kitchen">
                </picture>
            </li>          
            <li class="room-picture">
                <picture>
                    <source srcset="../img/Hotel/double-room-desktop/bedroom.jpg, ../img/Hotel/double-room-desktop/bedroom-@2x.jpg" media="(min-width: 1200px)">
                    <source srcset="../img/Hotel/double-room-tablet/bedroom.jpg, ../img/Hotel/double-room-tablet/bedroom-@2x.jpg" media="(min-width: 768px)">
                    <source srcset="../img/Hotel/double-room-mobile/bedroom.jpg, ../img/Hotel/double-room-mobile/bedroom-@2x.jpg" media="(max-width: 767px)">                            
                <img src="../img/Hotel/double-room-desktop/bedroom.jpg ../img/Hotel/double-room-desktop/bedroom-@2x.jpg" alt="bedroom">
                </picture>
            </li>
            <li class="room-picture">
                <picture>
                    <source srcset="../img/Hotel/double-room-desktop/bathroom.jpg, ../img/Hotel/double-room-desktop/bathroom-@2x.jpg" media="(min-width: 1200px)">
                    <source srcset="../img/Hotel/double-room-tablet/bathroom.jpg, ../img/Hotel/double-room-tablet/bathroom-@2x.jpg" media="(min-width: 768px)">
                    <source srcset="../img/Hotel/double-room-mobile/bathroom.jpg, ../img/Hotel/double-room-mobile/bathroom-@2x.jpg" media="(max-width: 767px)">                            
                <img src="../img/Hotel/double-room-desktop/bathroom.jpg ../img/Hotel/double-room-desktop/bathroom-@2x.jpg" alt="bathroom">
                </picture>
            </li>
        </ul>
        <div class="luxury-badroom">
        <div class="about-room">
            <h2 class="name-room">DOUBLE LUXURY ROOM</h2>
            <div class="room-description list">
                <p class="room-description-frirst">Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
                </p>
                <p class="room-description-second">Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
                </p>                   
            </div>                 
        </div>
         <div class="room-buttons">
                <button type="button" class="button-details btn-styles">More details</button>
                <button type="button" class="btn-styles">View prices</button>
            </div>
         </div>           

    </div>
</section>