<section class="container">
  <ul class="block-img-room">
    <li class="list-img-room room">
      <picture class="img-room">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/Room/imgseater-1_539.jpg  1x,
            /img/Room/imgseater-1_1078.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/Room/imgseater-1_331.jpg 1x,
            /img/Room/imgseater-1_662.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/Room/imgseater-1_335.jpg 1x,
            /img/Room/imgseater-1_670.jpg 2x
          "
        />
        <img
          src="/img/Room/imgseater-1_335.jpg"
          alt="img-room"
          width="539"
          height="762"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="list-img-room bathroom">
      <picture class="img-bathroom">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/Room/imgseater-2_387.jpg 1x,
            /img/Room/imgseater-2_774.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/Room/imgseater-2_223.jpg 1x,
            /img/Room/imgseater-2_446.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/Room/imgseater-2_158.jpg 1x,
            /img/Room/imgseater-2_316.jpg 2x
          "
        />
        <img
          src="/img/Room/imgseater-2_158.jpg"
          alt="img-bathroom"
          width="539"
          height="762"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="list-img-room kitchenroom">
      <picture class="img-kitchenroom">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/Room/imgseater-3_386.jpg 1x,
            /img/Room/imgseater-3_772.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/Room/imgseater-3_341.jpg 1x,
            /img/Room/imgseater-3_682.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/Room/imgseater-3_158.jpg 1x,
            /img/Room/imgseater-3_316.jpg 2x
          "
        />
        <img
          src="/img/Room/imgseater-3_158.jpg"
          alt="img-kitchenroom"
          width="539"
          height="762"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
  <div class="flex-desktop">
    <div class="div-text-four">
      <h2 class="titel-four">four-seater room</h2>
      <p class="text-four">
        Our 4-person room is perfect for small groups, offering comfort and
        convenience with 4 comfortable beds, ample storage, flat-screen TV,
        mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
        and soundproof walls. Book now for a memorable stay.
      </p>
    </div>
    <ul class="block-button">
      <li>
        <a class="btn-view-menu" href="room.html" target="_blank"
          >more details
        </a>
      </li>
      <li>
        <button
          type="button"
          class="button-prices button-four js-open-modal"
          data-modal="5"
        >
          View prices
        </button>
      </li>
    </ul>
  </div>
</section>
