<div class="section section-triple-room">
  <div class="container container-triple-room">
    <div class="img-triple-room">
      <picture>
        <source media="(min-width: 1440px)" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <source media="(min-width: 320px)" srcset="" />
        <img
          src=""
          alt="image of triple room"
          width="335"
          height="468"
          loading="lazy"
        />
      </picture>
      <div class="img-triple-room-wrapper">
        <picture>
          <source media="(min-width: 1440px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img
            src=""
            alt="image of triple room"
            width="158"
            height="149"
            loading="lazy"
          />
        </picture>
        <picture>
          <source media="(min-width: 1440px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 320px)" srcset="" />
          <img
            src=""
            alt="image of triple room"
            width="157"
            height="149"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <h2 class="triple-room-title">Triple Room</h2>
    <div class="triple-room-text-wrapper">
      <p class="triple-roop-desc">
        Escape to our spacious Triple Room, perfect for families or groups.
        Enjoy comfort with three beds, seating area, stunning views, flat-screen
        TVs, Wi-Fi, and mini-fridge.
      </p>
      <p class="triple-roop-desc">
        Rejuvenate in the en-suite bathroom with plush towels and toiletries.
        Book now for a memorable stay.
      </p>
    </div>
    <div class="triple-room-btn-block">
      <button class="triple-room-btn-details" type="button">
        More details
      </button>
      <button class="triple-room-btn-prices" type="button">View prices</button>
    </div>
  </div>
</div>
