<div class="section section-triple-room">
  <div class="container container-triple-room">
    <div class="img-triple-room">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            img/Room/triple-room/img-1-desk.jpg    1x,
            img/Room/triple-room/img-1-desk@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            img/Room/triple-room/img-1-tab.jpg    1x,
            img/Room/triple-room/img-1-tab@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            img/Room/triple-room/img-1-mob.jpg    1x,
            img/Room/triple-room/img-1-mob@2x.jpg 2x
          "
        />
        <img
          src="img/Room/triple-room/img-1-mob.jpg"
          alt="image of triple room"
          width="539"
          height="762"
          loading="lazy"
        />
      </picture>
      <div class="images-triple-room-wrapper">
        <picture class="img-triple-room-wrapper">
          <source
            media="(min-width: 1440px)"
            srcset="
              img/Room/triple-room/img-2-desk.jpg    1x,
              img/Room/triple-room/img-2-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/Room/triple-room/img-2-tab.jpg    1x,
              img/Room/triple-room/img-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/Room/triple-room/img-2-mob.jpg    1x,
              img/Room/triple-room/img-2-mob@2x.jpg 2x
            "
          />
          <img
            src="img/Room/triple-room/img-2-mob.jpg"
            alt="image of triple room"
            width="387"
            height="510"
            loading="lazy"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/Room/triple-room/img-3-desk.jpg    1x,
              img/Room/triple-room/img-3-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/Room/triple-room/img-3-tab.jpg    1x,
              img/Room/triple-room/img-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/Room/triple-room/img-3-mob.jpg    1x,
              img/Room/triple-room/img-3-mob@2x.jpg 2x
            "
          />
          <img
            src="img/Room/triple-room/img-3-mob.jpg"
            alt="image of triple room"
            width="386"
            height="395"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="triple-room-wrap">
      <div class="triple-room-wrapper">
        <h2 class="triple-room-title">Triple Room</h2>
        <div class="triple-room-text-wrapper">
          <p class="triple-roop-desc">
            Escape to our spacious Triple Room, perfect for families or groups.
            Enjoy comfort with three beds, seating area, stunning views,
            flat-screen TVs, Wi-Fi, and mini-fridge.
          </p>
          <p class="triple-roop-desc">
            Rejuvenate in the en-suite bathroom with plush towels and
            toiletries. Book now for a memorable stay.
          </p>
        </div>
      </div>
      <div class="triple-room-btn-block">
        <a href="room/html">
          <button class="triple-room-btn button" type="button">
            More details
          </button>
        </a>
        <button class="triple-room-btn button" type="button">
          View prices
        </button>
      </div>
    </div>
  </div>
</div>
