<section class="double-luxury-room-section">
  <div class="container-double-room">
    <ul class="room-list-picture list">
      <li class="picture-kitchen">
        <picture class="img-kitchen">
          <source
            srcset="
              img/Hotel/double-room/kitchen-desktop.jpg,
              img/Hotel/double-room/kitchen-desktop-@2x.jpg
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/Hotel/double-room/kitchen-tablet.jpg,
              img/Hotel/double-room/kitchen-tablet-@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/Hotel/double-room/kitchen-mobile.jpg,
              img/Hotel/double-room/kitchen-mobile-@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/Hotel/double-room/kitchen-desktop.jpg, img/Hotel/double-room/kitchen-desktop-@2x.jpg"
            alt="kitchen"
          />
        </picture>
      </li>
      <li class="picture-bedroom">
        <picture class="img-bedroom">
          <source
            srcset="
              img/Hotel/double-room/bedroom-desktop.jpg,
              img/Hotel/double-room/bedroom-desktop-@2x.jpg
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/Hotel/double-room/bedroom-tablet.jpg,
              img/Hotel/double-room/bedroom-tablet-@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/Hotel/double-room/bedroom-mobile.jpg,
              img/Hotel/double-room/bedroom-mobile-@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/Hotel/double-room/bedroom-desktop.jpg img/Hotel/double-room/bedroom-desktop-@2x.jpg"
            alt="bedroom"
          />
        </picture>
      </li>
      <li class="picture-bathroom">
        <picture class="img-bathroom">
          <source
            srcset="
              img/Hotel/double-room/bathroom-desktop.jpg,
              img/Hotel/double-room/bathroom-desktop-@2x.jpg
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/Hotel/double-room/bathroom-tablet.jpg,
              img/Hotel/double-room/bathroom-tablet-@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/Hotel/double-room/bathroom-mobile.jpg,
              img/Hotel/double-room/bathroom-mobile-@2x.jpg
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/Hotel/double-room/bathroom-desktop.jpg img/Hotel/double-room/bathroom-desktop-@2x.jpg"
            alt="bathroom"
          />
        </picture>
      </li>
    </ul>
    <div class="luxury-badroom">
      <div class="about-room">
        <h2 class="name-room">DOUBLE LUXURY ROOM</h2>
        <ul class="room-description list">
          <li class="room-description-first">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </li>
          <li class="room-description-second">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </li>
        </ul>
      </div>
      <div class="room-buttons">
        <ul class="room-buttons-list">
          <li>
            <a class="btn-view-menu" href="room.html" target="_blank"
              >more details
            </a>
          </li>
          <li>
            <button
              class="button-four js-open-modal"
              type="button"
              data-modal="3"
            >
              View prices
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
