<section class="main-hotel">
  <div class="container">
    <div class="main-hotel-wrapper">
      <div class="main-hotel-text-wrapper">
        <h2 class="titel-main-hotel">Hotel</h2>
        <p class="main-hotel-text">
          Book your stay with us now and experience the epitome of comfort and
          luxury at our hotel. We guarantee you'll be thrilled with your
          decision.
        </p>
      </div>
      <ul class="main-hotel-tab-list">
        <li>
          <button
            class="main-hero-btn js-open-modal"
            type="button"
            data-modal="1"
          >
            Book a room
          </button>
        </li>
        <li>
          <a class="btn-view-menu btn-view-menu-light" href="hotel.html"
            >view room
          </a>
        </li>
      </ul>
    </div>
    <div class="main-hotel-list-btn">
      <ul class="main-hotel-img-tab-wrapper">
        <li class="main-hotel-item-btn">
          <picture>
            <source
              media="(min-width: 1140px)"
              srcset="
                /img/Main/main_hotel-1_desk@1x.jpg 1x,
                /img/Main/main_hotel-1_desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Main/main_hotel-1_tab@1x.jpg 1x,
                /img/Main/main_hotel-1_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/Main/main_hotel-1_mob@1x.jpg 1x,
                /img/Main/main_hotel-1_mob@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="/img/Main/main_hotel-1_desk@1x.jpg" alt="badroom" />
          </picture>
        </li>
        <li>
          <ul class="main-hotel-img-wrapper">
            <li class="main-hotel-item-btn">
              <picture>
                <source
                  media="(min-width: 1140px)"
                  srcset="
                    /img/Main/main_hotel-2_desk@1x.jpg 1x,
                    /img/Main/main_hotel-2_desk@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/Main/main_hotel-2_tab@1x.jpg 1x,
                    /img/Main/main_hotel-2_tab@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/Main/main_hotel-2_mob@1x.jpg 1x,
                    /img/Main/main_hotel-2_mob@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img src="/img/Main/main_hotel-2_desk@1x.jpg" alt="badroom" />
              </picture>
            </li>
            <li class="main-hotel-item-btn">
              <picture>
                <source
                  media="(min-width: 1140px)"
                  srcset="
                    /img/Main/main_hotel-3_desk@1x.jpg 1x,
                    /img/Main/main_hotel-3_desk@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/Main/main_hotel-3_tab@1x.jpg 1x,
                    /img/Main/main_hotel-3_tab@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /img/Main/main_hotel-3_mob@1x.jpg 1x,
                    /img/Main/main_hotel-3_mob@2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img src="/img/Main/main_hotel-3_desk@1x.jpg" alt="badroom" />
              </picture>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="main-hotel-img-wrapper">
        <li class="main-hotel-item-btn tab-desk">
          <picture>
            <source
              media="(min-width: 1140px)"
              srcset="
                /img/Main/main_hotel-4_desk@1x.jpg 1x,
                /img/Main/main_hotel-4_desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Main/main_hotel-4_tab@1x.jpg 1x,
                /img/Main/main_hotel-4_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="/img/Main/main_hotel-4_desk@1x.jpg" alt="badroom" />
          </picture>
        </li>
        <li class="main-hotel-item-btn tab-desk">
          <picture>
            <source
              media="(min-width: 1140px)"
              srcset="
                /img/Main/main_hotel-5_desk@1x.jpg 1x,
                /img/Main/main_hotel-5_desk@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Main/main_hotel-5_tab@1x.jpg 1x,
                /img/Main/main_hotel-5_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img src="/img/Main/main_hotel-5_desk@1x.jpg" alt="badroom" />
          </picture>
        </li>
      </ul>
    </div>
    <ul class="main-hotel-list">
      <li>
        <button
          class="main-hero-btn js-open-modal"
          type="button"
          data-modal="1"
        >
          Book a room
        </button>
      </li>
      <li><button class="main-hero-btn" type="button">View room</button></li>
    </ul>
  </div>
</section>
