<section class="main-restaurant container">
  <div class="main-restaurant-title-text">
    <h2 class="main-restaurant-title">RESTAURANT</h2>
    <p class="main-restaurant-text">
      Relax and unwind with our delicious offerings, available any time of day.
    </p>
  </div>
  <div class="swiper swiper-restaurant">
    <ul class="main-restaurant-list swiper-wrapper">
      <li class="main-restaurant-item mob-slider mob-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-1_157m.jpg 157w,
            img/Main/main-restaurant/img-1_314m.jpg 314w,
            img/Main/main-restaurant/img-1_336t.jpg 336w,
            img/Main/main-restaurant/img-1_672t.jpg 672w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-1_157m.jpg"
          alt="coctail"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item mob-slider mob-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-2_157m.jpg 157w,
            img/Main/main-restaurant/img-2_314m.jpg 314w,
            img/Main/main-restaurant/img-2_336t.jpg 336w,
            img/Main/main-restaurant/img-2_672t.jpg 672w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-2_157m.jpg"
          alt="chef"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item-desktop desk-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/coctail_266d.jpg 266w,
            img/Main/main-restaurant/coctail_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/coctail_266d.jpg"
          alt="coctail"
          width="266"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item-desktop desk-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/croissant_266d.jpg 266w,
            img/Main/main-restaurant/croissant_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/croissant_266d.jpg"
          alt="croissant"
          width="266"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item-desktop desk-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/wine_266d.jpg 266w,
            img/Main/main-restaurant/wine_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/wine_266d.jpg"
          alt="wine"
          width="266"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item-desktop desk-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/chef_266d.jpg 266w,
            img/Main/main-restaurant/chef_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/chef_266d.jpg"
          alt="chef"
          width="266"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item-desktop desk-slider swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/fish_266d.jpg 266w,
            img/Main/main-restaurant/fish_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/fish_266d.jpg"
          alt="fish"
          width="266"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-3_157m.jpg 157w,
            img/Main/main-restaurant/img-3_314m.jpg 314w,
            img/Main/main-restaurant/img-3_336t.jpg 336w,
            img/Main/main-restaurant/img-3_672t.jpg 672w,
            img/Main/main-restaurant/img-3_266d.jpg 266w,
            img/Main/main-restaurant/img-3_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-3_157m.jpg"
          alt="pasta"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-4_157m.jpg 157w,
            img/Main/main-restaurant/img-4_314m.jpg 314w,
            img/Main/main-restaurant/img-4_336t.jpg 336w,
            img/Main/main-restaurant/img-4_672t.jpg 672w,
            img/Main/main-restaurant/img-4_266d.jpg 266w,
            img/Main/main-restaurant/img-4_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-4_157m.jpg"
          alt="girl-eats"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-5_157m.jpg 157w,
            img/Main/main-restaurant/img-5_314m.jpg 314w,
            img/Main/main-restaurant/img-5_336t.jpg 336w,
            img/Main/main-restaurant/img-5_672t.jpg 672w,
            img/Main/main-restaurant/img-5_266d.jpg 266w,
            img/Main/main-restaurant/img-5_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-5_157m.jpg"
          alt="shrimp"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-6_157m.jpg 157w,
            img/Main/main-restaurant/img-6_314m.jpg 314w,
            img/Main/main-restaurant/img-6_336t.jpg 336w,
            img/Main/main-restaurant/img-6_672t.jpg 672w,
            img/Main/main-restaurant/img-6_266d.jpg 266w,
            img/Main/main-restaurant/img-6_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-6_157m.jpg"
          alt="drink"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
      <li class="main-restaurant-item swiper-slide">
        <img
          class="restaurant-photo"
          srcset="
            img/Main/main-restaurant/img-7_157m.jpg 157w,
            img/Main/main-restaurant/img-7_314m.jpg 314w,
            img/Main/main-restaurant/img-7_336t.jpg 336w,
            img/Main/main-restaurant/img-7_672t.jpg 672w,
            img/Main/main-restaurant/img-7_266d.jpg 266w,
            img/Main/main-restaurant/img-7_532d.jpg 532w
          "
          sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
          src="img/Main/main-restaurant/img-7_157m.jpg"
          alt="asparagus"
          width="336"
          height="309"
          loading="lazy"
        />
      </li>
    </ul>
    <div class="swiper-btn">
      <div class="swiper-button-prev">
        <svg class="" width="24" height="24">
          <use class="swiper-btn-content" href="img/icons.svg#prev"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="" width="24" height="24">
          <use class="swiper-btn-content" href="img/icons.svg#next"></use>
        </svg>
      </div>
    </div>
  </div>
  <ul class="main-restaurant-button-list">
    <li class="main-restaurant-button-item">
      <button
        class="main-restaurant-button button js-open-modal"
        data-modal="2"
        type="submit"
      >
        book a table
      </button>
    </li>
    <li class="main-restaurant-button-item">
      <a class="btn-view-menu button" href="restaurant.html" target="_blank"
        >view the menu
      </a>
    </li>
  </ul>
</section>
