<section class="container section-location">
  <h2 class="titel-location">location</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.92340161917!2d34.52206163032988!3d49.59919391337218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e0!3m2!1suk!2spl!4v1678086688185!5m2!1suk!2spl"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="location-card"
  ></iframe>
  <div class="flex-address">
    <p class="address-location">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
    <div class="flex-tel">
      <p class="call-tel">call us:</p>
      <address>
        <ul>
          <li>
            <a href="tel:+380955559533" class="link-tel">(095) 555 95 33</a>
          </li>
          <li>
            <a href="tel:+380668491089" class="link-tel">(066) 849 10 89</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
