<section class="section about-complex">
  <div class="container container-about complex-container">
    <h2 class="section-title hidden-title" hidden>about-complex</h2>
    <div class="complex-wrapper">
      <div class="img-container">
        <picture>
          <source
            srcset="img/desktop@2x/imag@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="img/tablet-complex@2x/tab1@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="img/about-complex@2x/img1@2x.jpg 2x"
            media="(min-width: 320px)"
          />

          <img
            class="img-1"
            src="img/about-complex1x/img1.jpg"
            alt="lobby-hotel"
            width="335"
          />
        </picture>
        <div class="review-container review-maria">
          <div class="maria-container">
            <img
              src="img/review-img/girl.jpg"
              alt="girl"
              width="41"
              style="border-radius: 30px; height: 41px"
            />
            <div class="maria">
              <p class="review-text">Maria</p>
              <p class="review-rating-text">
                give rating <span class="review-rating">4.5</span>
              </p>
            </div>
          </div>
        </div>

        <picture>
          <source
            srcset="img/desktop@2x/imagedesk2@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="img/tablet-complex@2x/tabl2@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="img/about-complex@2x/image2@2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            class="img-2"
            src="img/about-complex1x/image2.jpg"
            alt="bathroom"
            width="282"
          />
        </picture>
      </div>
      <div class="restaurant-hotel-container">
        <h3 class="restaraunt section-subtitle">RESTAURANT-HOTEL COMPLEX</h3>
        <p class="section-text container-text">
          INDULGE IN A TASTE OF LUXURY WITH EVERY BITE AT HOTEL MIMINO. FROM THE
          FRESHEST SEAFOOD TO THE MOST SUCCULENT STEAKS, EVERY DISH IS CRAFTED
          WITH CARE TO ENSURE THAT YOU ENJOY A TRULY MEMORABLE DINING
          EXPERIENCE.
        </p>
        <p class="section-text container-text">
          TREAT YOURSELF TO A TASTE OF THE GOOD LIFE AND COME DINE WITH US
          TODAY!
        </p>
      </div>
    </div>
    <div class="restaraunt-business-wrapper">
      <div class="restaraunt-hotel">
        <picture>
          <source
            srcset="img/desktop@2x/imagedesk@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="img/tablet-complex@2x/tabl3@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="img/about-complex@2x/image3@2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            class="restaurant-hotel-img"
            src="img/about-complex1x/image3.jpg"
            alt="wine glasses on the table"
            width="335"
          />
        </picture>
        <div class="review-container review-alexander">
          <div class="alexander-container">
            <img
              src="img/review-img/boy.jpg"
              alt="boy"
              width="41"
              class="review-img"
              style="height: 41px; border-radius: 30px"
            />
            <div class="alexander">
              <p class="review-text">Alexander</p>
              <p class="review-rating-text">
                give rating <span class="review-rating">5.5</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="business-class-hotel-container">
        <div class="business-container">
          <h3 class="business section-subtitle">BUSINESS CLASS HOTEL</h3>
          <p class="section-text business-class-container-text">
            THE MIMINO HOTEL FEATURES SPACIOUS AND STYLISH DOUBLE LUXURY ROOMS
            WITH MODERN AMENITIES FOR A COMFORTABLE STAY.
          </p>
        </div>

        <picture>
          <source
            srcset="img/desktop@2x/unsplash_rfdp7_80v5a@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="img/tablet-complex@2x/unsplash_rfdp7_80v5a@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="img/about-complex@2x/image4@2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            class="business-img"
            src="img/about-complex1x/image4.jpg"
            alt="hotel business area"
            width="335"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<!--/** |==========================================
      | section About a complex (Orlovska Maryann)
      |=========================================== */ -->
