<section class="container conteiner-welcome">
  <div class="pading-welcome">
    <div class="absolute-desk">
      <h2 class="titel-welcome">
        Welcome to the epitome of <span>luxury and comfort</span>
      </h2>
      <ul class="flex-text-welcome">
        <li>
          <p class="text-welcome text-our-room">
            Our hotel rooms are elegantly designed with an eye for detail,
            ensuring that you have everything you need for a relaxing and
            rejuvenating stay.
          </p>
        </li>
        <li>
          <p class="text-welcome text-each-room">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to
            help you start your day right. Our spacious bathrooms feature
            luxurious toiletries and towels, so you can pamper yourself in
            complete privacy.
          </p>
        </li>
      </ul>
    </div>
    <picture class="welcome-img">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/Main/welcome/imagewelcom_desk@1x.jpg 1x,
          /img/Main/welcome/imagewelcom_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/Main/welcome/imagewelcom_tab@1x.jpg 1x,
          /img/Main/welcome/imagewelcom_tab@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 768px)"
        srcset="
          /img/Main/welcome/imagewelcom_mob@1x.jpg 1x,
          /img/Main/welcome/imagewelcom_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="/img/Main/welcome/imagewelcom_mob@1x.jpg"
        alt="Foto cafe"
        loading="lazy"
      />
    </picture>
  </div>
</section>
