<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="main-restaurant container">
        <div class="main-restaurant-title-text">
    <h2 class="main-restaurant-title">RESTAURANT</h2>
<p class="main-restaurant-text">Relax and unwind with our delicious offerings, available any time of day.</p>
</div>

<ul class="main-restaurant-list">
    <li class="main-restaurant-item"> 
            
          <img
            class="restaurant-photo"
            srcset="
            ../img/Main/main-restaurant/img-1_157m.jpg 1x,
            ../img/Main/main-restaurant/img-1_314m.jpg 2x,
            ../img/Main/main-restaurant/img-1_336t.jpg 1x,
            ../img/Main/main-restaurant/img-1_672t.jpg 2x
            "
            sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
            src="../img/Main/main-restaurant/img-1_157m.jpg 1x"
            alt="coctail"
            width="336"
            height="309"
            loading="lazy"
          />
        
    </li>
    <li class="main-restaurant-item">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-2_157m.jpg 1x,
        ../img/Main/main-restaurant/img-2_314m.jpg 2x,
        ../img/Main/main-restaurant/img-2_336t.jpg 1x,
        ../img/Main/main-restaurant/img-2_672t.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="chef"
        width="336"
        height="309"
        loading="lazy"
      />
    </li>
    <li class="main-restaurant-item-desktop">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/coctail_266d.jpg 1x,
        ../img/Main/main-restaurant/coctail_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/coctail_266d.jpg"
        alt="coctail"
        width="266"
        height="309"
        loading="lazy"
        />
    </li>
    <li class="main-restaurant-item-desktop">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/croissant_266d.jpg 1x,
        ../img/Main/main-restaurant/croissant_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/croissant_266d.jpg"
        alt="croissant"
        width="266"
        height="309"
        loading="lazy"
        />
    </li>
    <li class="main-restaurant-item-desktop">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/wine_266d.jpg 1x,
        ../img/Main/main-restaurant/wine_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/wine_266d.jpg"
        alt="wine"
        width="266"
        height="309"
        loading="lazy"
        />
    </li>
    <li class="main-restaurant-item-desktop">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/chef_266d.jpg 1x,
        ../img/Main/main-restaurant/chef_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/chef_266d.jpg"
        alt="chef"
        width="266"
        height="309"
        loading="lazy"
        />
    </li>
    <li class="main-restaurant-item-desktop">
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/fish_266d.jpg 1x,
        ../img/Main/main-restaurant/fish_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/fish_266d.jpg"
        alt="fish"
        width="266"
        height="309"
        loading="lazy"
        />
    </li>


    <!-- <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-3_157m.jpg 1x,
        ../img/Main/main-restaurant/img-3_314m.jpg 2x,
        ../img/Main/main-restaurant/img-3_336t.jpg 1x,
        ../img/Main/main-restaurant/img-3_672t.jpg 2x,
        ../img/Main/main-restaurant/img-3_266d.jpg 1x,
        ../img/Main/main-restaurant/img-3_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-4_157m.jpg 1x,
        ../img/Main/main-restaurant/img-4_314m.jpg 2x,
        ../img/Main/main-restaurant/img-4_336t.jpg 1x,
        ../img/Main/main-restaurant/img-4_672t.jpg 2x,
        ../img/Main/main-restaurant/img-4_266d.jpg 1x,
        ../img/Main/main-restaurant/img-4_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-5_157m.jpg 1x,
        ../img/Main/main-restaurant/img-5_314m.jpg 2x,
        ../img/Main/main-restaurant/img-5_336t.jpg 1x,
        ../img/Main/main-restaurant/img-5_672t.jpg 2x,
        ../img/Main/main-restaurant/img-5_266d.jpg 1x,
        ../img/Main/main-restaurant/img-5_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-6_157m.jpg 1x,
        ../img/Main/main-restaurant/img-6_314m.jpg 2x,
        ../img/Main/main-restaurant/img-6_336t.jpg 1x,
        ../img/Main/main-restaurant/img-6_672t.jpg 2x,
        ../img/Main/main-restaurant/img-6_266d.jpg 1x,
        ../img/Main/main-restaurant/img-6_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-7_157m.jpg 1x,
        ../img/Main/main-restaurant/img-7_314m.jpg 2x,
        ../img/Main/main-restaurant/img-7_336t.jpg 1x,
        ../img/Main/main-restaurant/img-7_672t.jpg 2x,
        ../img/Main/main-restaurant/img-7_266d.jpg 1x,
        ../img/Main/main-restaurant/img-7_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-8_266d.jpg 1x,
        ../img/Main/main-restaurant/img-8_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-9_266d.jpg 1x,
        ../img/Main/main-restaurant/img-9_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li>
    <li>
        <img
        class="restaurant-photo"
        srcset="
        ../img/Main/main-restaurant/img-10_266d.jpg 1x,
        ../img/Main/main-restaurant/img-10_532d.jpg 2x"
        sizes="(min-width: 1440px) 266px, (min-width: 768px) 336px, (min-width: 375px) 157px, 100vw"
        src="../img/Main/main-restaurant/img-2_157m.jpg 1x"
        alt="coctail"
        width="157"
        height="201"
        loading="lazy"
        />
    </li> -->
</ul>

<ul class="main-restaurant-button-list">
    <li class="main-restaurant-button-item">
        <button class="main-restaurant-button button" type="button">book a table</button>
    </li>
    <li class="main-restaurant-button-item">
        <button class="main-restaurant-button btn-view-menu button" type="button">view the menu</button>
    </li>
</ul>
</section>
</body>
</html>