<div class="modal" data-modal="1">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="32" height="32">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal-title">BOOK <span>A room</span> </h2>

  <form action="" class="form" name="form" id="form">

    <div class="form-field">
      <input class="form-input" type="text" name="name" id="name" placeholder=" " required>
      <label class="form-label" for="name">Your Name</label>
      <p class="form-text">Who should book a table for?</p>
    </div>

    <div class="form-field">
      <input class="form-input" type="tel" name="name" id="tel" placeholder=" " required>
      <label class="form-label" for="tel">+ 38 ()</label>
      <p class="form-text">Phone number</p>
    </div>

    <div class="form-field">
      <input type="date" id="myDateInput" placeholder="Today" required>
      <p class="form-text">Check-in date</p>
    </div>

    <div class="form-field">
      <input type="date" required>
      <p class="form-text">Check-out date</p>
    </div>

    <div class="form-field ">
      <div class="form-input-wrapper">
        <select name="suite">
          <option value="dn" selected="selected">DOUBLE SUITE</option>
          <option value="d1">TRIPLE SUITE</option>
          <option value="d2">FOUR-SEATER</option>
        </select>
        <p class="form-text">Number category</p>
      </div>
    </div>

  </form>

  <div class="form-button-block">
    <button class="form-button button-style" type="submit" form="form">MAKE A RESERVATION</button>
  </div>

</div>


<div class="modal" data-modal="2">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="32" height="32">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal-title">BOOK <span>A TABLE</span></h2>

  <form action="" class="form2" name="form2" id="form2">

    <div class="form-field">
      <input class="form-input" type="text" name="name" id="name" placeholder=" " required>
      <label class="form-label" for="name">Your Name</label>
      <p class="form-text">Who should book a table for?</p>
    </div>

    <div class="form-field">
      <select name="people">
        <option value="none" disabled="disabled" selected="selected">number of people</option>
        <option value="1-5">1-5</option>
        <option value="5-10">5-10</option>
        <option value="10-15">10-15</option>
        <option value="15-20">15-20</option>
      </select>
    </div>

    <div class="form-field form-field-order">

      <input type="date" required>
      <p class="form-text">What date to book?</p>

    </div>


    <div class="form-field">
      <input class="form-input" type="tel" name="name" id="tel" placeholder=" " required>
      <label class="form-label" for="tel">+ 38 ()</label>
      <p class="form-text">Phone number</p>
    </div>

  </form>

  <div class="form-button-block">
    <button class="form-button button-style" type="submit" form="form2">MAKE A RESERVATION</button>
  </div>


</div>



<div class="modal" data-modal="3">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="32" height="32">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal-title">prices per room</h2>
  <p class="modal-text">Double suite</p>

  <form action="" class="form3" name="form3" id="form3">

    <div class="form-field">
      <div class="form-input-wrapper">
        <select name="NnightD">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="7">7</option>
          <option value="14">14</option>
          <option value="28">28</option>
        </select>
        <p class="form-text">Number of nights</p>
      </div>
    </div>

    <div class="form-field">
      <input class="form-input" disabled="disabled" type="text" name="priceD" id="priceD" placeholder=" ">
      <label class="form-label" for="priceD">1000</label>
      <p class="form-text">UAH</p>
    </div>

  </form>

  <div class="form-button-block">
    <button class="form-button button-style" type="submit" form="form3">MAKE A RESERVATION</button>
  </div>
</div>




<div class="modal" data-modal="4">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="32" height="32">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal-title">prices per room</h2>
  <p class="modal-text">Triple Room</p>

  <form action="" class="form4" name="form4" id="form4">

    <div class="form-field">
      <div class="form-input-wrapper">
        <select name="NnightT">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="7">7</option>
          <option value="14">14</option>
          <option value="28">28</option>
        </select>
        <p class="form-text">Number of nights</p>
      </div>
    </div>

    <div class="form-field">
      <input class="form-input" disabled="disabled" type="text" name="priceT" id="priceT" placeholder=" ">
      <label class="form-label" for="priceT">1500</label>
      <p class="form-text">UAH</p>
    </div>

  </form>

  <div class="form-button-block">
    <button class="form-button button-style" type="submit" form="form4">MAKE A RESERVATION</button>
  </div>
</div>





<div class="modal" data-modal="5">
  <button class="modal-order-box-btn js-modal-close">
    <svg width="32" height="32">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>

  <h2 class="modal-title">prices per room</h2>
  <p class="modal-text">four-seater room</p>

  <form action="" class="form5" name="form5" id="form5">

    <div class="form-field">
      <div class="form-input-wrapper">
        <select name="NnightF">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="7">7</option>
          <option value="14">14</option>
          <option value="28">28</option>
        </select>
        <p class="form-text">Number of nights</p>
      </div>
    </div>

    <div class="form-field">
      <input class="form-input" disabled="disabled" type="text" name="priceF" id="priceF" placeholder=" ">
      <label class="form-label" for="priceF">2000</label>
      <p class="form-text">UAH</p>
    </div>

  </form>

  <div class="form-button-block">
    <button class="form-button button-style" type="submit" form="form5">MAKE A RESERVATION</button>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>

<script>
  const selectD = document.querySelector('select[name="NnightD"]');
  const priceInputD = document.querySelector('input[name="priceD"]');
  const priceLabelD = document.querySelector('label[for="priceD"]');

  const selectT = document.querySelector('select[name="NnightT"]');
  const priceInputT = document.querySelector('input[name="priceT"]');
  const priceLabelT = document.querySelector('label[for="priceT"]');

  const selectF = document.querySelector('select[name="NnightF"]');
  const priceInputF = document.querySelector('input[name="priceF"]');
  const priceLabelF = document.querySelector('label[for="priceF"]');

  selectD.addEventListener('change', (event) => {
    const selectedValue = event.target.value;
    const selectedPrice = Number(selectedValue)

    if (selectedPrice) {
      priceInputD.value = selectedPrice * 1000;
      priceLabelD.innerText = selectedPrice * 1000;
    }
  });

  selectT.addEventListener('change', (event) => {
    const selectedValue = event.target.value;
    const selectedPrice = Number(selectedValue)

    if (selectedPrice) {
      priceInputT.value = selectedPrice * 1500;
      priceLabelT.innerText = selectedPrice * 1500;
    }
  });

  selectF.addEventListener('change', (event) => {
    const selectedValue = event.target.value;
    const selectedPrice = Number(selectedValue)

    if (selectedPrice) {
      priceInputF.value = selectedPrice * 2000;
      priceLabelF.innerText = selectedPrice * 2000;
    }
  });
</script>