<!-- About a kitchen section -->
<section class="section">
    <div class="container container-kitchen">
        <h3 class="visually-hidden" hidden>About a kitchen</h3>
        <ul class="list-kitchen-img">
            <li class="item-kitchen">
                <img class="img-kitchen img-kitchen-chief" src="../img/Restaurant/img-chief_511.jpg" alt="img" srcset="
                    ../img/Restaurant/img-chief_335.jpg 335w,
                    ../img/Restaurant/img-chief_388.jpg 388w,
                    ../img/Restaurant/img-chief_511.jpg 511w,
                    ../img/Restaurant/img-chief_670.jpg 670w,
                    ../img/Restaurant/img-chief_776.jpg 766w,
                    ../img/Restaurant/img-chief_1022.jpg 1022w,"
                    sizes="(min-width: 1200px) 511px, (min-width: 768px) 388px, (min-width: 375px) 335px, 100vw"
                    loading="lazy" width="511" height="598">
            </li>
            <li class="item-kitchen">
                <img class="img-kitchen img-kitchen-meat" src="../img/Restaurant/img-meat_334.jpg" alt="img" srcset="
                    ../img/Restaurant/img-meat_158.jpg 158w,
                    ../img/Restaurant/img-meat_284.jpg 284w,
                    ../img/Restaurant/img-meat_334.jpg 334w,
                    ../img/Restaurant/img-meat_316.jpg 316w,
                    ../img/Restaurant/img-meat_568.jpg 568w,
                    ../img/Restaurant/img-meat_668.jpg 668w,"
                    sizes="(min-width: 1200px) 334px, (min-width: 768px) 284px, (min-width: 375px) 158px, 100vw"
                    loading="lazy" width="334" height="389">
            </li>
            <li class="item-kitchen">
                <img class="img-kitchen img-kitchen-cocktail" src="../img/Restaurant/img-cocktail_467.jpg" alt="img"
                    srcset="
                    ../img/Restaurant/img-cocktail_157.jpg 157w,
                    ../img/Restaurant/img-cocktail_284.jpg 284w,
                    ../img/Restaurant/img-cocktail_467.jpg 467w,
                    ../img/Restaurant/img-cocktail_314.jpg 314w,
                    ../img/Restaurant/img-cocktail_568.jpg 568w,
                    ../img/Restaurant/img-cocktail_934.jpg 934w,"
                    sizes="(min-width: 1200px) 467px, (min-width: 768px) 284px, (min-width: 375px) 157px, 100vw"
                    loading="lazy" width="467" height="389">
            </li>
        </ul>
        <ul class="list-kitchen-text">
            <li>
                <p>At Mimino, we are experts in <span class="italic">meat preparation.</span> Our chefs use only the
                    finest and
                    freshest ingredients
                    <span class="italic">to create
                        delicious dishes</span> that showcase the flavors of premium cuts of meat.
                </p>
            </li>
            <li>
                <p>Our <span class="italic">slow-cooking process</span> and expert seasoning bring out the best in each
                    dish,
                    making
                    for an
                    unforgettable dining
                    experience. Come taste the magic<span class="italic">of meat preparation at</span> Mimino.
                </p>
            </li>
        </ul>
    </div>
</section>