<!-- About a kitchen section -->
<section class="section section-about-kitchen">
    <div class="container container-about-kitchen">
        <h2 class="visually-hidden" hidden>About a kitchen</h2>
        <div class="img-kitchen">
            <picture class="img-kitchen-chief">
                <source type="image/jpg" media="(min-width: 1440px)"
                    srcset="./img/Restaurant/img-chief_511.jpg 1x, ./img/Restaurant/img-chief_1022.jpg 2x">
                <source type="image/jpg" media="(min-width: 768px)"
                    srcset="./img/Restaurant/img-chief_388.jpg 1x, ./img/Restaurant/img-chief_776.jpg 2x">
                <source type="image/jpg" media="(min-width: 320px)"
                    srcset="./img/Restaurant/img-chief_335.jpg 1x, ./img/Restaurant/img-chief_670.jpg 2x">
                <img src="./img/Restaurant/img-chief_335.jpg" alt="image of chief" width="511" height="598"
                    loading="lazy">
            </picture>
            <div class="images-kitchen-wrapper">
                <picture class="img-kitchen-meat">
                    <source type="image/jpg" media="(min-width: 1440px)"
                        srcset="./img/Restaurant/img-meat_334.jpg 1x, ./img/Restaurant/img-meat_668.jpg 2x">
                    <source type="image/jpg" media="(min-width: 768px)"
                        srcset="./img/Restaurant/img-meat_284.jpg 1x, ./img/Restaurant/img-meat_568.jpg 2x">
                    <source type="image/jpg" media="(min-width: 320px)"
                        srcset="./img/Restaurant/img-meat_158.jpg 1x, ./img/Restaurant/img-meat_316.jpg 2x">
                    <img src="./img/Restaurant/img-meat_158.jpg" alt="image of meat" width="334" height="389"
                        loading="lazy">
                </picture>
                <picture class="img-kitchen-cocktail">
                    <source type="image/jpg" media="(min-width: 1440px)"
                        srcset="./img/Restaurant/img-cocktail_467.jpg 1x, ./img/Restaurant/img-cocktail_934.jpg 2x">
                    <source type="image/jpg" media="(min-width: 768px)"
                        srcset="./img/Restaurant/img-cocktail_284.jpg 1x, ./img/Restaurant/img-cocktail_568.jpg 2x">
                    <source type="image/jpg" media="(min-width: 320px)"
                        srcset="./img/Restaurant/img-cocktail_157.jpg 1x, ./img/Restaurant/img-cocktail_314.jpg 2x">
                    <img src="./img/Restaurant/img-cocktail_157.jpg" alt="image of cocktail" width="467" height="389"
                        loading="lazy">
                </picture>
            </div>
        </div>
        <div class="text-kitchen-wrapper">
            <p class="text-kitchen">
                At Mimino, we are experts in <span class="italic">meat preparation.</span> Our chefs use only the
                finest and
                freshest ingredients
                <span class="italic">to create
                    delicious dishes</span> that showcase the flavors of premium cuts of meat.
            </p>
            <p class="text-kitchen">Our <span class="italic">slow-cooking process</span> and expert seasoning bring out
                the best in each
                dish,
                making
                for an
                unforgettable dining
                experience. Come taste the magic<span class="italic">of meat preparation at</span> Mimino.
            </p>
        </div>

    </div>
</section>