<section class="section rest-menu-section" id="menu">
  <div class="container rest-menu-container">
    <h2 class="rest-title">RESTAURANT MENU</h2>
    <div class="swiper menu-swiper">
      <ul class="rest-menu-title list swiper-wrapper">
        <li class="swiper-slide rest-menu-page">
          <p class="menu-page-title">Hot meals</p>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Veal borscht with beans</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream</span
                >
                <span class="dish-price">240 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Cheese soup with chicken</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens</span
                >
                <span class="dish-price">200 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Carbonara pasta</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Tagliatelle pasta, bacon, cream, Parmesan cheese, egg,
                  greens</span
                >
                <span class="dish-price">430 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Pork steak</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables</span
                >
                <span class="dish-price">500 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Gorbusha in white wine sauce</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Tender redfish, cream sauce based on white wine</span
                >
                <span class="dish-price">400 UAH</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="swiper-slide rest-menu-page">
          <p class="menu-page-title">Side dishes and snacks</p>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Baked vegetables</p>
                <span class="dish-weight">200 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Zucchini, pepper, tomato, eggplant</span
                >
                <span class="dish-price">230 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">French fries</p>
                <span class="dish-weight">150 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc">Potatoes, tomato sauce</span>
                <span class="dish-price">160 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Peasant-style potatoes</p>
                <span class="dish-weight">150 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc">Potatoes, spices, spicy sauces</span>
                <span class="dish-price">160 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Crisp pickles from the barrel</p>
                <span class="dish-weight">250 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Salted cucumber, pickled tomato, sauerkraut, Korean
                  carrot</span
                >
                <span class="dish-price">350 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Chicken wings in honey sauce</p>
                <span class="dish-weight">400 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Chicken wings, mustard-honey sauce, served with carrots,
                  celery and blue cheese sauce</span
                >
              </div>
            </li>
          </ul>
        </li>
        <li class="swiper-slide rest-menu-page">
          <p class="menu-page-title">Salads</p>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Caesar with chicken</p>
                <span class="dish-weight">230 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Chicken fillet, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce</span
                >
                <span class="dish-price">450 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Caesar with shrimp</p>
                <span class="dish-weight">230 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce</span
                >
                <span class="dish-price">300 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Greek salad</p>
                <span class="dish-weight">230 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce</span
                >
                <span class="dish-price">280 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Meat salad</p>
                <span class="dish-weight">230 g</span>
              </div>
              <div class="menu-item-desc">
                <span class="dish-desc"
                  >Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce</span
                >
                <span class="dish-price">300 UAH</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="swiper-slide rest-menu-page">
          <p class="menu-page-title">Desserts</p>
          <ul class="rest-menu-list list">
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Napoleon cake</p>
                <span class="dish-price">200 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Poppy cake</p>
                <span class="dish-price">300 UAH</span>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="menu-item-subtitle">
                <p class="menu-dish">Tiramisu</p>
                <span class="dish-price">260 UAH</span>
              </div>
            </li>
          </ul>
          <div class="menu-wrapper">
            <p class="menu-page-title">Drinks</p>
            <ul class="rest-menu-list list">
              <li class="rest-menu-item">
                <div class="menu-item-subtitle">
                  <p class="menu-dish">Black/green tea</p>
                  <span class="dish-price">100 UAH</span>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="menu-item-subtitle">
                  <p class="menu-dish">Espresso</p>
                  <span class="dish-price">100 UAH</span>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="menu-item-subtitle">
                  <p class="menu-dish">Cappuccino</p>
                  <span class="dish-price">100 UAH</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="swiper-btn-menu">
        <div class="swiper-button-prev">
          <svg width="36" height="36">
            <use
              class="swiper-btn-content light"
              href="img/icons.svg#prev"
            ></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="36" height="36">
            <use
              class="swiper-btn-content light"
              href="img/icons.svg#next"
            ></use>
          </svg>
        </div>
      </div>
    </div>

    <button
      class="btn-book-table-dark button js-open-modal"
      type="button"
      data-modal="2"
    >
      book a table
    </button>
  </div>
</section>
