<section class="section amenities">
  <div class="container">
    <ul class="amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-title">General Amenities & Facilities:</h3>
        <ul class="amenities-sub-list">
          <li class="amenities-sub-item">24-hour front desk service</li>
          <li class="amenities-sub-item">Daily housekeeping</li>
          <li class="amenities-sub-item">Free Wi-Fi throughout the hotel</li>
          <li class="amenities-sub-item">Elevator access</li>
          <li class="amenities-sub-item">Luggage storage</li>
          <li class="amenities-sub-item">Non-smoking rooms available</li>
          <li class="amenities-sub-item">
            Meeting rooms for business and events
          </li>
          <li class="amenities-sub-item">On-site parking (surcharge)</li>
          <li class="amenities-sub-item">Concierge services</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Bathroom:</h3>
        <ul class="amenities-sub-list">
          <li class="amenities-sub-item">Private bathroom with shower</li>
          <li class="amenities-sub-item">Complimentary toiletries</li>
          <li class="amenities-sub-item">Hair dryer</li>
          <li class="amenities-sub-item">Fresh towels daily</li>
          <li class="amenities-sub-item">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Bedroom:</h3>
        <ul class="amenities-sub-list">
          <li class="amenities-sub-item">
            Comfortable beds with high-quality linens
          </li>
          <li class="amenities-sub-item">Blackout curtains</li>
          <li class="amenities-sub-item">
            Climate control (air conditioning and heating)
          </li>
          <li class="amenities-sub-item">Safe for valuables</li>
          <li class="amenities-sub-item">Writing desk and chair</li>
          <li class="amenities-sub-item">Flat-screen TV with cable channels</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Kitchen:</h3>
        <ul class="amenities-sub-list">
          <li class="amenities-sub-item">
            In-room kitchenette (in some room categories)
          </li>
          <li class="amenities-sub-item">Refrigerator</li>
          <li class="amenities-sub-item">Microwave</li>
          <li class="amenities-sub-item">Electric kettle</li>
          <li class="amenities-sub-item">Cooking utensils and cutlery</li>
          <li class="amenities-sub-item">Dining table and chairs</li>
        </ul>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-title">Media:</h3>
        <ul class="amenities-sub-list">
          <li class="amenities-sub-item">Flat-screen TV with cable channels</li>
          <li class="amenities-sub-item">High-speed Wi-Fi</li>
          <li class="amenities-sub-item">iPod docking station</li>
          <li class="amenities-sub-item">Speaker system</li>
          <li class="amenities-sub-item">
            Electrical outlets for charging devices.
          </li>
        </ul>
      </li>
    </ul>
    <div class="content-img">
      <div class="content-bottom">
        <img
          class="content-img-bottom"
          srcset="
            img/Room/amenities_foto/bathroom_1_259.jpg 259w,
            img/Room/amenities_foto/bathroom_1_408.jpg 408w,
            img/Room/amenities_foto/bathroom_1_496.jpg 496w,
            img/Room/amenities_foto/bathroom_1_518.jpg 518w,
            img/Room/amenities_foto/bathroom_1_816.jpg 816w,
            img/Room/amenities_foto/bathroom_1_992.jpg 992w
          "
          sizes="(min-width: 1440px) 496px,(min-width: 768px) 408px,(min-width: 375px) 259px,100vw"
          src="img/Room/amenities_foto/bathroom_1_259.jpg"
          alt="bathroom"
          width="496px"
        />
      </div>
      <div class="content-top">
        <img
          class="content-img-top"
          src="../img/Room/amenities_foto/bathroom_2_207.jpg"
          srcset="
            img/Room/amenities_foto/bathroom_2_207.jpg 207w,
            img/Room/amenities_foto/bathroom_2_365.jpg 356w,
            img/Room/amenities_foto/bathroom_2_414.jpg 414w,
            img/Room/amenities_foto/bathroom_2_439.jpg 439w,
            img/Room/amenities_foto/bathroom_2_730.jpg 730w,
            img/Room/amenities_foto/bathroom_2_878.jpg 878w
          "
          sizes="(min-width: 1440px) 414px,(min-width: 768px) 365px,(min-width: 375px) 207px,100vw"
          alt="cosmetics"
          width="414px"
        />
      </div>
      <button class="btn-book-table-dark btn_room" type="button">
        Book a room
      </button>
    </div>
  </div>
</section>
