<section class="room-hero-section">
  <div class="room-hero-container">
    <div class="room-hero-wrap">
      <div class="room-hero-left">
        <h1 class="room-hero-title">Double luxury room</h1>
        <button class="room-hero-btn" type="button">view prices</button>
      </div>
      <div>
        <ul>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ../img/Room/room_hero/img-1_desk@1x.jpg 1x,
                  ../img/Room/room_hero/img-1_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-1_tab@1x.jpg 1x,
                  ../img/Room/room_hero/img-1_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-1_mob@1x.jpg 1x,
                  ../img/Room/room_hero/img-1_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/Room/room_hero/img-1_mob@1x.jpg"
                alt="Beds"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ../img/Room/room_hero/img-2_desk@1x.jpg 1x,
                  ../img/Room/room_hero/img-2_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-2_tab@1x.jpg 1x,
                  ../img/Room/room_hero/img-2_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-2_mob@1x.jpg 1x,
                  ../img/Room/room_hero/img-2_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/Room/room_hero/img-2_mob@1x.jpg"
                alt="Beds"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ../img/Room/room_hero/img-3_desk@1x.jpg 1x,
                  ../img/Room/room_hero/img-3_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-3_tab@1x.jpg 1x,
                  ../img/Room/room_hero/img-3_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  ../img/Room/room_hero/img-3_mob@1x.jpg 1x,
                  ../img/Room/room_hero/img-3_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/Room/room_hero/img-3_mob@1x.jpg"
                alt="Beds"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <p class="room-hero-txt">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
