<section class="room-hero-section">
  <div class="room-hero-container container">
    <div class="room-hero-wrap">
      <div class="room-hero-left">
        <h1 class="room-hero-title">Double luxury room</h1>
        <button
          class="room-hero-btn js-open-modal"
          data-modal="3"
          type="button"
        >
          view prices
        </button>
        <p class="room-hero-txt desk">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>
      <div class="swiper hero-swiper">
        <ul class="hero-slider swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/Room/room_hero/img-1_desk@1x.jpg 1x,
                  img/Room/room_hero/img-1_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/Room/room_hero/img-1_tab@1x.jpg 1x,
                  img/Room/room_hero/img-1_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  img/Room/room_hero/img-1_mob@1x.jpg 1x,
                  img/Room/room_hero/img-1_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="room-hero-img"
                src="img/Room/room_hero/img-1_mob@1x.jpg"
                alt="Beds"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/Room/room_hero/img-2_desk@1x.jpg 1x,
                  img/Room/room_hero/img-2_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/Room/room_hero/img-2_tab@1x.jpg 1x,
                  img/Room/room_hero/img-2_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  img/Room/room_hero/img-2_mob@1x.jpg 1x,
                  img/Room/room_hero/img-2_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="room-hero-img"
                src="img/Room/room_hero/img-2_mob@1x.jpg"
                alt="Kitchen"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/Room/room_hero/img-3_desk@1x.jpg 1x,
                  img/Room/room_hero/img-3_desk@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  img/Room/room_hero/img-3_tab@1x.jpg 1x,
                  img/Room/room_hero/img-3_tab@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 768px)"
                srcset="
                  img/Room/room_hero/img-3_mob@1x.jpg 1x,
                  img/Room/room_hero/img-3_mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="room-hero-img"
                src="img/Room/room_hero/img-3_mob@1x.jpg"
                alt="Salon"
                width="250"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <div class="swiper-btn-hero">
          <div class="swiper-button-prev">
            <svg class="" width="" height="">
              <use
                class="swiper-btn-content"
                href="../img/icons.svg#prev"
              ></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="" width="" height="">
              <use
                class="swiper-btn-content"
                href="../img/icons.svg#next"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <p class="room-hero-txt mob">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
