.header,
.header-light {
  position: relative;
  padding: 22px 0;
  background-color: rgb(18, 18, 18);
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.header-light {
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
}



@media screen and (min-width: 768px) {
  .header,
  .header-light {
    padding: 20px 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    gap: 177px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    gap: 480px;
  }
}

.nav {
  display: flex;
  gap: 83px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    gap: 237px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 370px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }
}

.nav-item {
  position: relative;
}

.nav-link,
.nav-link-dark {
  font-family: var(--regular);
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
}

.nav-link-dark {
  color: rgb(18, 18, 18);
}

.nav-link.current::after,
.nav-link-dark.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
  transform: translateX(-50%);
}

.nav-link-dark.current::after {
  background-color: rgb(18, 18, 18);
}

.nav-link:hover,
.nav-link:focus,
.nav-link-dark:hover,
.nav-link-dark:focus {
  color: rgb(116, 123, 255);
}

/* Mobile menu */

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle .menu-close,
.menu-toggle .menu-close-dark {
  display: none;
}
.menu-toggle.is-open .menu-close,
.menu-toggle.is-open .menu-close-dark {
  display: block;
}
.menu-toggle.is-open .menu-icon,
.menu-toggle.is-open .menu-icon-dark {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-icon {
    width: 24px;
    height: 16px;
  }
}

.social-icon,
.social-icon-dark {
  fill: transparent;
}

.menu-icon,
.menu-close,
.social-icon {
  stroke: rgb(246, 246, 246);
}

.menu-icon-dark,
.menu-close-dark,
.social-icon-dark {
  stroke: rgb(18, 18, 18);
}

.logo,
.logo-dark {
  display: block;
  width: 176px;
  text-align: center;
  font-family: var(--medium);
  font-size: 14px;
  line-height: 1.6;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: rgb(247, 247, 247);
}

.logo-dark {
  color: rgb(18, 18, 18);
}

@media screen and (min-width: 768px) {
  .header-logo,
  .header-logo-dark {
    font-size: 20px;
    line-height: 1.2;
  }
}

.header-logo-light,
.header-logo-light-dark {
  display: block;
  margin-top: 3px;
  font-family: var(--regular);
  font-size: 6px;
  line-height: 1.3;

  color: rgb(216, 215, 215);
}

.header-logo-light-dark {
  color: rgb(18, 18, 18);
}

@media screen and (min-width: 768px) {
  .header-logo-light,
  .header-logo-light-dark {
    font-size: 8px;
    line-height: 1.25;
  }
}

.social-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .social-list {
    display: flex;
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .social-list {
    gap: 16px;
  }
}

/* Mobile menu */
.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 78px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 18, 18);
  z-index: 999;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-light {
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 1440px) {
  .menu-container,
  .menu-light {
    display: none;
  }
}
.menu-container.is-open,
.menu-container-light.is-open {
  transform: translateX(0);
}

.mobile-menu {
  margin-top: 128px;
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-list {
    gap: 40px;
  }
}

.menu-navlink,
.menu-navlink-dark {
  font-family: var(--regular);
  font-size: 18px;
  line-height: 1.3;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: rgb(247, 247, 247);
}

.menu-navlink-dark {
  color: rgb(18, 18, 18);
}

@media screen and (min-width: 768px) {
  .menu-navlink,
  .menu-navlink-dark {
    font-size: 28px;
    line-height: 1.1;
  }
}

.social-menu {
  margin-left: 20px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .social-menu {
    display: none;
  }
}

.mobile-social-list {
  display: flex;
  gap: 14px;
  align-items: center;
}
