body {
 margin: 0;
}

.container {
 max-width: 375px;
 padding: 0 20px;
 margin-right: auto;
 margin-left: auto;
 
 /* outline: 1px solid red; */
}

@media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
  padding: 0 32px;
 }
}

@media screen and (min-width: 1140px) {
 .container {
  max-width: 1440px;
 }
}

.header {
 position: relative;
 padding: 22px 0;
 background-color: rgb(18, 18, 18);
 border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}
.header {
 background-image: url(../img/Hotel/image.jpg);
 background-position: right top;
 background-size: 542px;
 background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
 .header {
  padding: 20px 0;
 }
}

.nav {
 display: flex;
 gap: 83px;
 align-items: center;
}

@media screen and (min-width: 768px) {
 .nav {
  gap: 177px;
  justify-content: space-between;
 }
}

@media screen and (min-width: 1440px) {
 .nav {
  gap: 370px;
 }
}

.nav-list {
 display: none;
}

@media screen and (min-width: 1440px) {
 .nav-list {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 40px;
 }
}

.nav-item {
 position: relative;
}

.nav-link {
 font-family: var(--regular);
 font-size: 14px;
 line-height: 1.3;
  letter-spacing: 0.05em;
  color: rgb(247, 247, 247);
}

.nav-link.current::after {
 content: "";
 position: absolute;
 display: block;
 left: 50%;
 width: 4px;
 height: 4px;
 border-radius: 2px;
 background-color: rgb(247, 247, 247);
 transform: translateX(-50%);
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

/* Mobile menu */

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 1440px) {
 .menu-toggle {
  display: none;
 }
}

.menu-toggle .menu-close {
 display: none;
}
.menu-toggle.is-open .menu-close {
 display: block;
}
.menu-toggle.is-open .menu-icon {
 display: none;
}

@media screen and (min-width: 768px) {
 .mobile-icon {
  width: 24px;
  height: 16px;
 }
}

.social-icon {
 background-color: transparent;
}

.menu-icon,
.menu-close,
.social-icon {
 stroke: rgb(246, 246, 246);
}

.logo {
 display: block;
 text-align: center;
 font-family: var(--medium);
font-size: 14px;
line-height: 1.6;

letter-spacing: 0.18em;
text-transform: uppercase;

color: rgb(247, 247, 247);
}

@media screen and (min-width: 768px) {
 .header-logo {
  font-size: 20px;
 line-height: 1.2;
 }
}

.header-logo-light {
 display: block;
 margin-top: 3px;
 font-family: var(--regular);
font-size: 6px;
line-height: 1.3;

color: rgb(216, 215, 215);
}

@media screen and (min-width: 768px) {
 .header-logo-light {
  font-size: 8px;
  line-height: 1.25;
 }
}

@media screen and (max-width: 767.98px) {
 .header-social {
  display: none;
 }
}


/* Mobile menu */
.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 78px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 18, 18);
  z-index: 999;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1440px) {
 .menu-container {
  display: none;
 }
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
 margin-top: 128px;
 margin-bottom: auto;
}

.mobile-list {
 display: flex;
 flex-direction: column;
 gap: 32px;
 justify-content: center;
 align-items: center;
}

@media screen and (min-width: 768px) {
 .mobile-list {
  gap: 40px;
 }
}

.menu-navlink {
 font-family: var(--regular);
font-size: 18px;
line-height: 1.3;

letter-spacing: 0.05em;
text-transform: uppercase;

color: rgb(247, 247, 247);
}

@media screen and (min-width: 768px) {
 .menu-navlink {
  font-size: 28px;
line-height: 1.1;
 }
}

.social-menu {
 margin-left: 20px;
 margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
 .social-menu {
  display: none;
 }
}

.mobile-social-list {
 display: flex;
 gap: 14px;
 align-items: center;
}

@media screen and (min-width: 1440px) {
 .mobile-social-list {
  gap: 16px;
 }
}
