.section-triple-room {
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-triple-room {
    position: relative;

    text-transform: uppercase;
    color: #121212;
}
/* .img-triple-room {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .img-triple-room {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .img-triple-room > picture {
        max-width: 331px;
    }
}
@media screen and (min-width: 1440px) {
    .img-triple-room {
        height: 762px;
        align-items: center;
        margin-bottom: 50px;
    }     
    .img-triple-room > picture {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.images-triple-room-wrapper {
    display: flex;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .images-triple-room-wrapper {
        flex-direction: column;
        row-gap: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
        .img-triple-room-wrapper {
        max-width: 223px;
    }
}
@media screen and (min-width: 1440px) {
    .images-triple-room-wrapper {
        width: 100%;
        margin-bottom: 0;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
} */
/* |=========================|  |=========================| */
.img-triple-room {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .img-triple-room {
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .img-triple-room {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.triple-room-bedroom {
 max-width: 335px;
}
@media screen and (min-width: 768px) {
  .triple-room-bedroom {
    max-width: 331px;
  }
}
@media screen and (min-width: 1440px) {
  .triple-room-bedroom {
    max-width: 539px;
  }
}
.triple-room-bahtroom {
  max-width: 158px;
}
@media screen and (min-width: 768px) {
  .triple-room-bahtroom {
    max-width: 223px;
  }
}
@media screen and (min-width: 1440px) {
  .triple-room-bahtroom {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 387px;
  }
}
.triple-room-kitchen {
  max-width: 157px;
}
@media screen and (min-width: 768px) {
  .triple-room-kitchen {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 341px;
  }
}
@media screen and (min-width: 1440px) {
  .triple-room-kitchen {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 386px;
  }
}
/* |=========================|  |=========================| */
.triple-room-title {
    font-family: var(--bold);
    font-size: 32px;
    line-height: 1.25;
}
@media screen and (min-width: 768px) {
    .triple-room-title {
        font-size: 40px;
        line-height: 1.1;
    }
}
.triple-room-wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
@media screen and (min-width: 768px) {
    .triple-room-wrap {
        gap: 40px;
    }
}
@media screen and (min-width: 1440px) {
    .triple-room-wrap {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
.triple-room-wrapper {
    display: flex;
    flex-direction: column;
    gap:32px;
}
@media screen and (min-width: 1440px) {
    .triple-room-wrapper {
        gap: 40px;
    }
}
.triple-room-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media screen and (min-width: 768px) {
    .triple-room-text-wrapper {
        flex-direction: row;
        gap: 32px;
    }
}
@media screen and (min-width: 1440px) {
    .triple-room-text-wrapper {
        flex-direction: row;
        gap: 32px;
        justify-content: flex-end;
        margin-bottom: 0;
    }
}
.triple-roop-desc {
    font-size: 14px;
    line-height: 1.29;
}
@media screen and (min-width: 768px) {
    .triple-roop-desc {
        font-size: 18px;
        line-height: 1.33;
    }
}
@media screen and (min-width: 768px) {
    .triple-roop-desc:first-child {
        width: 355px;
    }
    .triple-roop-desc:last-child {
        width: 299px;
    }    
}
.triple-room-btn-block {
    display: flex;
    gap: 12px;
}
@media screen and (min-width: 768px) {
    .triple-room-btn-block {
        gap: 14px;
    }
}
@media screen and (min-width: 1440px) {
    .triple-room-btn-block {
        align-items: flex-start;
    }
}
.triple-room-btn {
    padding: 8px 18px;

    font-family: var(--regular);
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;

    background-color: inherit;
    border: 0.8px solid #121212;
    border-radius: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.triple-room-btn:hover,
.triple-room-btn:focus {
    color: #F7F7F7;
    background: #121212;
    border: 0.8px solid #F7F7F7;
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
    .triple-room-btn {
        padding: 8px 24px;
    }
}
@media screen and (min-width: 1440px) {
    .triple-room-btn {
        padding: 9px 24px;
    }
}
