/* @media screen and (min-width: 321px) and (max-width: 767px) {
.container {
max-width: 375px;
}
}

@media screen and (min-width: 768px) {
.container {
max-width: 768px;
padding-right: 32px;
padding-left: 32px;
}
}
   
@media screen and (min-width: 1440px) {
  .container {
   max-width: 1440px;
  }
  } */

@media screen and (min-width: 1440px) {
  .main-restaurant {
    position: relative;
    padding-top: 44px;
  }
}

@media screen and (max-width: 767px) {
  .main-restaurant-title-text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .main-restaurant-title-text {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-title-text {
    margin-bottom: 125px;
  }
}

.main-restaurant-title {
  font-family: var(--medium);
  font-size: 40px;
  line-height: calc(40 / 40);
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .main-restaurant-title {
    font-size: 68px;
    line-height: calc (68 / 68);
  }
}

.main-restaurant-text {
  font-family: var(--medium);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  width: 221px;
}

.main-restaurant-list {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main-restaurant-list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-list {
    justify-content: space-between;
  }
}

.main-restaurant-item-desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .main-restaurant-item-desktop {
    display: block;
  }
  .main-restaurant-item {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .restaurant-photo {
    width: 157px;
    height: 201px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .restaurant-photo {
    width: 336px;
    height: 309px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-photo {
    width: 266px;
    height: 309px;
  }
}

.main-restaurant-button-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-restaurant-button-list {
    gap: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-button-list {
    position: absolute;
    top: 5px;
    right: 32px;
    transform: translateY(100%);
  }
}

.main-restaurant-button {
  font-family: inherit;
  display: block;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  min-width: 128px;
  min-height: 34px;
  border: 0.8px solid #121212;
  border-radius: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-restaurant-button {
    min-width: 140px;
    min-height: 40px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-button {
    font-size: 18px;
    min-width: 167px;
    min-height: 42px;
    line-height: calc(24 / 18);
  }
}

.main-restaurant-button:hover,
.main-restaurant-button:focus {
  color: #f7f7f7;
  background-color: #121212;
  border: 0.8px solid #f7f7f7;
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}

.btn-view-menu {
  display: block;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  border: 0.8px solid #121212;
  border-radius: 32px;

  padding: 8px 18px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-view-menu-light {
  border: 0.8px solid #f7f7f7;
  color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .btn-view-menu {
    font-size: 14px;
    line-height: calc(24 / 14);
    padding: 8px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .btn-view-menu {
    font-size: 18px;
    line-height: calc(24 / 18);
    padding: 9px 24px;
  }
}

.btn-view-menu:hover,
.btn-view-menu:focus {
  color: #f7f7f7;
  background-color: #121212;
  border: 0.8px solid #f7f7f7;
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}
.btn-view-menu-light:hover,
.btn-view-menu-light:focus {
  color: #121212;
  background-color: #f7f7f7;
  border: 0.8px solid #121212;
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}
