/* |=========================| Reset styles |=========================| */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* |=========================|  |=========================| */

.rest-menu-section {
    padding-top: 40px;
    padding-bottom: 64px;

    color: #F7F7F7;
    background-color: #121212;
}
@media screen and (min-width: 768px) {
    .rest-menu-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media screen and (min-width: 1440px) {
    .rest-menu-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 768px) {
    .rest-container {
        padding-right: 126px; 
        padding-left: 126px;
    }
}
@media screen and (min-width: 1440px) {
    .rest-container {
        padding-right: 168px; 
        padding-left: 168px;
    }
}
.rest-title {
    margin-bottom: 36px;
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .rest-title {
        margin-bottom: 64px;

        font-size: 40px;
        line-height: 1.1;
    }
}
@media screen and (min-width: 1440px) {
    .rest-title {
        margin-bottom: 100px;
    }
}
.rest-menu-slide-wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.rest-menu-title {
    display: flex;
}
@media screen and (max-width: 1439px) {
    .rest-menu-title {
        width: 400%;
    }
}
@media screen and (min-width: 1440px) {
    .rest-menu-title {
        flex-wrap: wrap;
        column-gap: 74px;
        row-gap: 50px;
    }
}
.rest-menu-page {
    width: 515px;
}
@media screen and (min-width: 768px) {
    .rest-menu-page {
        width: 515px;
    }
}
.menu-page-title {
    margin-bottom: 32px;

    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .menu-page-title {
        font-size: 24px;
        line-height: 1;
    }
}
.rest-menu-list {
    display: flex;
    flex-wrap: wrap;
}
.rest-menu-item {
    width: 100%;
}
.rest-menu-item::after {
    content: '';
    display: block;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    height: 1px;

    background: rgba(255, 255, 255, 0.5);
}
.menu-item-subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.menu-dish {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
}
@media screen and (min-width: 768px) {
    .menu-dish {
        font-size: 18px;
        line-height: 1.33;
    }
}
.menu-dish::before {
    content: '';
    display: block;
    margin-left: 9px;
    margin-right: 9px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
    .menu-dish::before {
        margin-left: 11px;
        margin-right: 11px;
        width: 4px;
        height: 4px;
    }
}
.dish-weight {
    font-size: 12px;
    line-height: 1.17;
    color: #D8D7D7;
}
@media screen and (min-width: 768px) {
    .dish-weight {
        font-size: 14px;
        line-height: 1.29;
    }
}
.menu-item-desc {
    display: flex;
    justify-content: space-between;
}
.dish-desc {
    max-width: 220px;

    font-family: var(--geometria);
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.18em;
    color: rgba(216, 215, 215, 0.5);
}
@media screen and (min-width: 768px) {
    .dish-desc {
        max-width: 345px;

        font-size: 12px;
        line-height: 1.5;
    }
}
.dish-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
}
@media screen and (min-width: 768px) {
    .dish-price {
        font-size: 18px;
        line-height: 1.33;
    }
}
.menu-wrapper {
    margin-top: 14px;
}
.rest-menu-slide {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
}
@media screen and (min-width: 768px) {
    .rest-menu-slide {
        gap: 20px;
        margin-top: 32px;
    }
}
.btn-rest-menu-prev, .btn-rest-menu-next {
    padding: 0;
    border: none;
    background-color: inherit;
}
.img-btn-prev-small,
.img-btn-next-small {
    display: block;
        color: tomato;
        stroke: tomato;
}
.img-btn-prev-large,
.img-btn-next-large {
    display: none;
     color: tomato;
        stroke: tomato;
}
@media screen and (min-width: 768px) {
    .img-btn-prev-small,
    .img-btn-next-small {
        display: none;
    }
    .img-btn-prev-large,
    .img-btn-next-large {
        display: block;
    }
}
@media screen and (min-width: 1440px) {
    .img-btn-prev-large,
    .img-btn-next-large {
        display: none;
    }
}
.btn-book-table-dark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 8px 24px;

    font-family: var(--regular);
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: #F7F7F7;

    border: 0.8px solid #F7F7F7;
    border-radius: 32px;
    background-color: inherit;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-book-table-dark:hover,
.btn-book-table-dark:focus {
    color: #121212;
    background-color: #FFFFFF;
    border: 0.8px solid #F7F7F7;
    box-shadow: -14px 24px 68px -16px rgba(255, 255, 255, 0.15);
}
@media screen and (min-width: 768px) {
    .btn-book-table-dark {
        margin-left: 0;
    }
}
@media screen and (min-width: 1440px) {
    .btn-book-table-dark {
        margin-top: 50px;
    }
}