.room-hero-section {
padding-top: 40px;
padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .room-hero-section {
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 1440px) {
    .room-hero-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.room-hero-title {
max-width: 270px;
margin-bottom: 24px;

    font-family: var(--regular-italic);
    font-size: 40px;
    line-height: calc(40 / 40);
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .room-hero-title {
        max-width: 406px;
        margin-bottom: 18px;

        font-size: 60px;
    }
}

@media screen and (min-width: 1440px) {
    .room-hero-title {
        max-width: 592px;
        margin-bottom: 32px;

        font-size: 80px;
    }
}

.room-hero-btn {
    min-width: 117px;
    padding: 8px 18px;
    margin-bottom: 40px;

    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    text-transform: uppercase;

    background-color: transparent;
    border: 0.8px solid;
    border-radius: 32px;

    transition: background-color var(--transition), color var(--transition);
}

.room-hero-btn:hover,
.room-hero-btn:focus {
    color: #F7F7F7;
background-color: #121212;
}

@media screen and (min-width: 768px) {
    .room-hero-btn {
        padding: 8px 24px;
        margin-bottom: 28px;

        line-height: calc(24 / 14);
    }
}

@media screen and (min-width: 1440px) {
    .room-hero-btn {
        max-width: 155px;
        padding: 9px 24px;
        margin-bottom: 0;

        font-size: 18px;
        line-height: calc(24 / 18);
    }
}

@media screen and (max-width: 1439px) {
    .room-hero-txt.desk {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
.room-hero-wrap {
    display: flex;
    gap: 112px;
}

.room-hero-left {
    display: flex;
    flex-direction: column;
    padding-top: 139px;
    margin-bottom: 48px;
}

.room-hero-txt.desk {
    margin-top: auto;
}
}

.room-hero-img {
    width: 250px;
    height: 429px;
}

@media screen and (min-width: 768px) {
.room-hero-img {
        width: 436px;
        height: 548px;
    }
}

@media screen and (min-width: 1440px) {
    .room-hero-img {
        height: 580px;
    }
}

.room-hero-txt {
    width: 289px;

    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.room-hero-txt.mob {
    margin-top: 40px;
}

@media screen and (min-width: 1440px) {
    .room-hero-txt.mob {
        display: none;
    }
}
