/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./main_hero.css');
@import url('./main_about.css');
@import url('./main_restaurant.css');
@import url('./main_welcome.css');
@import url('./main_hotel.css');
@import url('./main_location.css');
@import url('./restaurant_hero.css');
@import url('./restaurant_about.css');
@import url('./restaurant_menu.css');
@import url('./hotel_hero.css');
@import url('./hotel_double_room.css');
@import url('./hotel_triple_room.css');
@import url('./hotel_four_room.css');
@import url('./room_hero.css');
@import url('./room_amenities.css');
@import url('./book_room_modal.css');
@import url('./book_table_modal.css');
@import url('./prices_modal.css');
@import url('./footer.css');

@font-face {
  font-family: 'Sans Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans Medium';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans Bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans Regular Italic';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/DMSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans Medium Italic';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/DMSans-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans Bold';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
}
:root {
  --regular: 'Sans Regular', sans-serif;
  --regular-italic: 'Sans Regular Italic', sans-serif;
  --medium: 'Sans Medium', sans-serif;
  --medium-italic: 'Sans Medium Italic', sans-serif;
  --bold: 'Sans Bold', sans-serif;
  --bold-italic: 'Sans Bold Italic', sans-serif;
  font-family: var(--regular);
  font-size: 16px;
  line-height: 24px;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
