/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('./reset.css');
@import url('./header.css');
@import url('./main_hero.css');
@import url('./main_about.css');
@import url('./main_restaurant.css');
@import url('./main_welcome.css');
@import url('./main_hotel.css');
@import url('./main_location.css');
@import url('./restaurant_hero.css');
@import url('./restaurant_about.css');
@import url('./restaurant_menu.css');
@import url('./hotel_hero.css');
@import url('./hotel_double_room.css');
@import url('./hotel_triple_room.css');
@import url('./hotel_four_room.css');
@import url('./room_hero.css');
@import url('./room_amenities.css');
@import url('./book_room_modal.css');
@import url('./book_table_modal.css');
@import url('./prices_modal.css');
@import url('./footer.css');
:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
